/* our container holding all elements */
.container {
    width: 950px;
    background-color: silver;
    margin: 100px;
    /* added an ober flow so that the container won't break and send an empty page when
    elements are out of bounds */
    overflow: hidden;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px 20px 0px 20px;
}

.side-nav {
    /* added inline-block to be able to put elements inside of other elements */
    display: inline-block;
    height: 300px;
    width: 195px;
    margin: 20px;
    background-color: blue;
    /* added a vertical-align so the side navigation aligns at the top of the page */
    vertical-align: top;
}

.main {
    /* added inline-block to nest better in container. not sure how to explain well yet.
     would appreciate professional feed-back */
    display: inline-block;
    height: 400px;
    width: 670px;
    padding: 10px;
    /* added in a margin pushing it top, left, bottom to the right */
    margin: 20px 20px 20px 0px;
    background-color: red;
}

.sub-content {
    /* added in inline-block; to nest in main */
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 5px;
    background-color: yellow;
}

#advertisement {
    /* added in inline-block; to nest in main */
    display: inline-block;
    height: 110px;
    width: 620px;
    background-color: purple;
    margin: 20px 5px 5px 5px;
    padding: 5px;
}